* {
  margin: 0px;
  padding: 0px;
}

.app-container {
  width: 1000px;
  margin: 0px auto;
}

.error-text {

}

.confirm-account {
  color: green;
}


/* Register User Page CSS                                            */

.new-user-container {
  
}

.new-user-h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.new-user-link {
  text-align: end;
  margin-top: 13px;
  margin-right: 254px;
  font-size: medium;
}

.new-user-form-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-user-form-h3 {
  text-align: center;
  width: 150px;
  background-color: white;
  position: relative;
  top: -450px;
  right: -160px;
}

.new-user-form {
  width: 700px;
  height: 375px;
  border: 2px solid black;
  padding-top: 60px;
}

.new-user-input1, .new-user-input2, .new-user-input3, .new-user-input4, .new-user-input5, .new-user-input6 {
  margin-left: 30px;
  width: 300px;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.new-user-input1 {
  margin-left: 32px;
}

.new-user-input3 {
  margin-left: 68px;
}

.new-user-input4 {
  margin-left: 37px;
}

.new-user-input5 {
  margin-left: 35px;
}

.new-user-input5 {
  margin-left: 37px;
}

.new-user-input6 {
  margin-left: 34px;
}


.user-row {
  text-align: start;
  margin-left: 100px;
}

.new-user-info-message {
  position: relative;
  left: -84px;
  margin-bottom: 10px;
}

.new-user-submit {
  position: relative;
  left: -175px;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  width: 150px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}


/*  Login User CSS                                                  */

.login-user-container {
  
}

.login-user-h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.login-user-link {
  text-align: end;
  margin-top: 13px;
  margin-right: 254px;
  font-size: medium;
}

.login-user-form-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-user-form-h3 {
  text-align: center;
  width: 60px;
  background-color: white;
  position: relative;
  top: -275px;
  right: -160px;
}

.login-user-form {
  width: 700px;
  height: 200px;
  border: 2px solid black;
  padding-top: 60px;
}

.login-user-input1, .login-user-input2 {
  margin-left: 35px;
  width: 300px;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.login-user-input1 {
  margin-left: 63px;
}

.login-user-input2 {
  margin-left: 32px;
}

.user-row {
  text-align: start;
  margin-left: 100px;
}

.login-user-info-message {
  position: relative;
  left: -84px;
  margin-bottom: 10px;
}

.login-user-submit {
  position: relative;
  left: -175px;
  height: 30px;
  padding: 5px;
  margin-top: 30px;
  width: 150px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}


/* Edit Account                                                 */

.edit-user-container {
  
}

.edit-user-h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.edit-user-link {
  text-align: end;
  margin-top: 13px;
  margin-right: 254px;
  font-size: medium;
}

.edit-user-form-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-user-form-h3 {
  text-align: center;
  width: 150px;
  background-color: white;
  position: relative;
  top: -450px;
  right: -160px;
}

.edit-user-form {
  width: 700px;
  height: 375px;
  border: 2px solid black;
  padding-top: 60px;
}

.edit-user-input1, .edit-user-input2, .edit-user-input3, .edit-user-input4, .edit-user-input5, .edit-user-input6 {
  margin-left: 30px;
  width: 300px;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.edit-user-input1 {
  margin-left: 32px;
}

.edit-user-input3 {
  margin-left: 68px;
}

.edit-user-input4 {
  margin-left: 37px;
}

.edit-user-input5 {
  margin-left: 35px;
}

.edit-user-input5 {
  margin-left: 37px;
}

.edit-user-input6 {
  margin-left: 34px;
}


.user-row {
  text-align: start;
  margin-left: 100px;
}

.edit-user-info-message {
  position: relative;
  left: -84px;
  margin-bottom: 10px;
}

.edit-user-submit {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  width: 150px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.delete-user {
  position: relative;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  right: -50px;
  width: 150px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.edit-user-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* User Dashboard CSS                                               */


.dashboard-user-container {
  
}

.dashboard-user-h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.dashboard-user-hr {
  border: 1px solid black;
}

.dashboard-user-home-link {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: large;
}

.dashboard-logout-button {
  padding: 2px;
  background-color: white;
  font-size: medium;
  box-shadow: 2px 2px black;
}

.dashboard-bottom-container {
  margin-top: 40px;
  display: flex;
}

/* Discussion post feed */

.dashboard-postfeed-container {
  padding-left: 50px;
  margin-left: 40px;
  width: 550px;
  height: 600px;
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: auto;
}

.dashboard-discussion-card {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  width: 450px;
  border: 2px solid black;
}

.dashboard-discussion-card-top {
  display: flex;
  justify-content: space-between;
}

.dashboard-discussion-card-bottom {
  margin-top: 10px
}

.dashboard-discussion-card-view-button {
  left: 360px;
  margin-top: 10px;
  padding: 4px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.dashboard-discussion-card-edit-button {
  position: relative;
  left: 250px;
  margin-top: 10px;
  padding: 4px;
  width: 75px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

/* Side nav boxes */

.dashboard-side-nav-conatainer {
  width: 300px;
}

.dashboard-side-nav-box1 {
  border: 2px solid black;
  width: 150px;
  height: 125px;
  margin-left: 125px;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 50px;
}

.dashboard-side-nav-box1-links {
  margin-top: 22px;
}

.dashboard-side-nav-box2 {
  border: 2px solid black;
  width: 250px;
  height: 175px;
  margin-left: 75px;
  padding: 20px;
  padding-top: 20px;
}

/* User View - Home CSS                                               */

.home-user-container {
  
}

.home-user-h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.home-user-hr {
  border: 1px solid black;
}

.home-user-home-link {
  margin-bottom: 13px;
  text-align: center;
  font-size: large;
}

.home-bottom-container {
  margin-top: 40px;
  display: flex;
}

/* Discussion post feed */

.home-postfeed-container {
  padding-left: 50px;
  margin-left: 40px;
  width: 550px;
  height: 600px;
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: auto;
}

.home-discussion-card {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  width: 450px;
  border: 2px solid black;
}

.home-discussion-card-top {
  display: flex;
  justify-content: space-between;
}

.home-discussion-card-bottom {
  margin-top: 10px
}

.home-discussion-card-edit-button {
  position: relative;
  left: 360px;
  margin-top: 10px;
  padding: 2px;
  width: 75px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.home-discussion-card-button {
  margin-top: 10px;
  padding: 5px;
  box-shadow: 2px 2px black;
  background: white;
}

/* Side nav boxes */

.home-side-nav-conatainer {
  width: 300px;
}

.home-side-nav-box1 {
  width: 200px;
  margin-left: 125px;
  padding: 20px;
  font-size: large;
} 

.home-side-nav-links {
  margin-left: -10px;
  margin-right: 55px;
}

.home-side-nav-hr {
  width: 225px;
  margin-bottom: 20px;
  margin-left: 110px;
  border: 1px solid black;
}


.home-side-nav-box2, .home-side-nav-box3 {
  border: 2px solid black;
  width: 150px;
  height: 125px;
  margin-left: 125px;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 50px;
}

.home-side-nav-box2-links {
  margin-top: 35px;
}

.home-side-nav-box3-button {
  margin-top: 25px;
  height: 30px;
  width: 150px;
  box-shadow: 2px 2px black;
  background: white;
}

/* Create Discussion CSS                                                        */

.create-discussion-container {
  
}

.create-discussion-h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.create-discussion-link {
  text-align: end;
  margin-top: 13px;
  margin-right: 254px;
  font-size: medium;
}

.create-discussion-form-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-discussion-form-h3 {
  text-align: center;
  width: 170px;
  background-color: white;
  position: relative;
  top: -375px;
  right: -160px;
}

.create-discussion-form {
  width: 700px;
  height: 300px;
  border: 2px solid black;
  padding-top: 60px;
}

.create-discussion-input1, .create-discussion-body {
  margin-left: 30px;
  width: 450px;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.create-discussion-input1 {
  margin-left: 32px;
  vertical-align: top;
}

.create-discussion-body {
  height: 125px;
  width: 450px;
  vertical-align: top;
  border: 2px solid black;
  box-shadow: 1px 1px black;
  margin-left: 26px;
}

.discussion-row {
  text-align: start;
  margin-left: 100px;
}

.create-discussion-info-message {
  position: relative;
  left: -84px;
  margin-bottom: 10px;
}

.create-discussion-submit {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  margin-left: -100px;
  width: 200px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.delete-discussion-button {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  width: 200px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 140px;
}

/* Edit Discussion CSS                                                      */

.edit-discussion-container {
  
}

.edit-discussion-h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.edit-discussion-link {
  text-align: end;
  margin-top: 13px;
  margin-right: 254px;
  font-size: medium;
}

.edit-discussion-form-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-discussion-form-h3 {
  text-align: center;
  width: 145px;
  background-color: white;
  position: relative;
  top: -450px;
  right: -160px;
}

.edit-discussion-form {
  width: 700px;
  height: 375px;
  border: 2px solid black;
  padding-top: 60px;
}

.edit-discussion-input1, .edit-discussion-body {
  margin-left: 30px;
  width: 450px;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.edit-discussion-input1 {
  margin-left: 32px;
  vertical-align: top;
}

.edit-discussion-body {
  height: 125px;
  width: 450px;
  vertical-align: top;
  border: 2px solid black;
  box-shadow: 1px 1px black;
  margin-left: 26px;
}

.discussion-row {
  text-align: start;
  margin-left: 100px;
}

.edit-discussion-info-message {
  position: relative;
  left: -84px;
  margin-bottom: 10px;
}

.edit-discussion-submit {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  margin-left: -100px;
  width: 200px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.edit-discussion-delete-button {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  width: 200px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 140px;
}


/* View Discussion CSS                                                              */

.view-discussion-container {
  
}

.view-discussion-h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.view-discussion-box1-h1-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.view-discussion-home-link {
  text-align: center;
  font-size: large;
  margin-bottom: -20px;
}

.view-discussion-user-hr {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 60px;
}

.view-discussion-bottom-container {
  margin-top: 40px;
  padding-left: 30px;
}

.view-discussion-box1 {
  border: 2px solid black;
  width: 900px;
  padding: 20px;
  margin-bottom: 40px;
  overflow-x: hidden;
  overflow-y: auto;
}

.view-discussion-comment-box {
  border: 2px solid black;
  width: 880px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.view-discussion-comment-box-h1-date {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}

.view-discussion-box2-h1-date {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.view-discussion-box1-body, .view-discussion-box2-body {
  margin-top: 20px;
}

.view-discussion-box1-button {
  position: relative;
  left: 800px;
  width: 75px;
  padding: 4px;
  margin-top: 20px;
  box-shadow: 2px 2px black;
  background: white;
}

.view-discussion-box1-create-comment {
  position: relative;
  left: 600px;
  padding: 4px;
  margin-top: 20px;
  box-shadow: 2px 2px black;
  background: white;
}

.view-comment-box1-button-edit{
  position: relative;
  left: 800px;
  padding: 4px;
  margin-top: 20px;
  margin-bottom: -20px;
  box-shadow: 2px 2px black;
  background: white;
}


/* Create Comment CSS                                                         */


.create-comment-container {
  
}

.create-comment-h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.create-comment-link {
  text-align: end;
  margin-top: 13px;
  margin-right: 254px;
  font-size: medium;
}

.create-comment-form-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-comment-form-h3 {
  text-align: center;
  width: 170px;
  background-color: white;
  position: relative;
  top: -450px;
  right: -160px;
}

.create-comment-form {
  width: 700px;
  height: 375px;
  border: 2px solid black;
  padding-top: 60px;
}

.create-comment-input1, .create-comment-body {
  margin-left: 30px;
  width: 450px;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.create-comment-input1 {
  margin-left: 32px;
  vertical-align: top;
}

.create-comment-body {
  height: 125px;
  width: 450px;
  vertical-align: top;
  border: 2px solid black;
  box-shadow: 1px 1px black;
  margin-left: 26px;
}

.comment-row {
  text-align: start;
  margin-left: 100px;
}

.create-comment-info-message {
  position: relative;
  left: -84px;
  margin-bottom: 10px;
}

.create-comment-submit {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  margin-left: -100px;
  width: 200px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.delete-comment-button {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  width: 200px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 140px;
}


/* Edit Comment CSS                                                               */


.edit-comment-container {
  
}

.edit-comment-h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.edit-comment-link {
  text-align: end;
  margin-top: 13px;
  margin-right: 254px;
  font-size: medium;
}

.edit-comment-form-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-comment-form-h3 {
  text-align: center;
  width: 145px;
  background-color: white;
  position: relative;
  top: -450px;
  right: -160px;
}

.edit-comment-form {
  width: 700px;
  height: 375px;
  border: 2px solid black;
  padding-top: 60px;
}

.edit-comment-input1, .edit-comment-body {
  margin-left: 30px;
  width: 450px;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.edit-comment-input1 {
  margin-left: 32px;
  vertical-align: top;
}

.edit-comment-body {
  height: 125px;
  width: 450px;
  vertical-align: top;
  border: 2px solid black;
  box-shadow: 1px 1px black;
  margin-left: 26px;
}

.comment-row {
  text-align: start;
  margin-left: 100px;
}

.edit-comment-info-message {
  position: relative;
  left: -84px;
  margin-bottom: 10px;
}

.edit-comment-submit {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  margin-left: -100px;
  width: 200px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.edit-comment-delete-button {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  width: 200px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 140px;
}

/* View Comment CSS                                                          */

.view-comment-container {
  
}

.view-comment-h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.view-comment-home-link {
  text-align: center;
  font-size: large;
  margin-bottom: -20px;
}

.view-comment-bottom-container {
  margin-top: 40px;
  padding-left: 50px;
}

.view-comment-box1 {
  border: 2px solid black;
  width: 900px;
  height: 300px;
  padding: 20px;
  margin-bottom: 40px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.view-comment-comment-box {
  border: 2px solid black;
  width: 880px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.view-comment-comment-box-h1-date {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.view-comment-box2-h1-date {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.view-comment-box1-body, .view-comment-box2-body {
  margin-top: 20px;
}

.view-comment-box1-button {
  position: relative;
  left: 800px;
  padding: 5px;
  margin-top: 20px;
  box-shadow: 2px 2px black;
  background: white;
}

.view-comment-box1-create-comment {
  position: relative;
  left: 600px;
  padding: 4px;
  margin-top: 20px;
  box-shadow: 2px 2px black;
  background: white;
}


/* HomePage Non User CSS                                                 */


.home-page-user-container {
  
}

.home-page-user-h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.home-page-user-hr {
  border: 1px solid black;
}

.home-page-user-home-page-link {
  margin-bottom: 13px;
  text-align: center;
  font-size: large;
}

.home-page-bottom-container {
  margin-top: 40px;
  display: flex;
}

/* Discussion post feed */

.home-page-postfeed-container {
  padding-left: 50px;
  margin-left: 40px;
  width: 550px;
  height: 600px;
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: auto;
}

.home-page-discussion-card {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  width: 450px;
  border: 2px solid black;
}

.home-page-discussion-card-top {
  display: flex;
  justify-content: space-between;
}

.home-page-discussion-card-bottom {
  margin-top: 10px
}

.home-page-discussion-card-edit-button {
  position: relative;
  left: 360px;
  margin-top: 10px;
  padding: 2px;
  width: 75px;
  box-shadow: 2px 2px black;
  background-color: rgb(255, 255, 255);
}

.home-page-discussion-card-button {
  margin-top: 10px;
  padding: 5px;
  box-shadow: 2px 2px black;
  background: white;
}

/* Side nav boxes */

.home-page-side-nav-conatainer {
  width: 300px;
}

.home-page-side-nav-box1 {
  width: 200px;
  margin-left: 125px;
  padding: 20px;
  font-size: large;
} 

.home-page-side-nav-links {
  margin-left: -10px;
  margin-right: 55px;
}

.home-page-side-nav-hr {
  width: 225px;
  margin-bottom: 20px;
  margin-left: 110px;
  border: 1px solid black;
}


.home-page-side-nav-box2, .home-page-side-nav-box3 {
  border: 2px solid black;
  width: 150px;
  height: 125px;
  margin-left: 125px;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 50px;
}

.home-page-side-nav-box2-links {
  margin-top: 20px;
}

.home-page-side-nav-box3-button {
  margin-top: 25px;
  height: 30px;
  width: 150px;
  box-shadow: 2px 2px black;
  background: white;
}